[2020-03-02 23:15] mayurkale22 opened #2 "Move stackdriver-trace exporter from opentelemetry"
Link: https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-exporter-stackdriver-trace

[2020-03-17 20:28] #2 closed

[2020-03-18 18:37] mayurkale22 opened #9 "Implement Google Cloud Monitoring Exporter for OpenTelemetry"
Reference implementation: https://github.com/census-instrumentation/opencensus-node/blob/master/packages/opencensus-exporter-stackdriver/src/stackdriver-monitoring.ts

[2020-03-18 18:38] mayurkale22 opened #10 "setup coverage report"
Current error: https://codecov.io/github/GoogleCloudPlatform/opentelemetry-operations-js/commit/712b877cf656ae463e222e9bdc362e28b725d8c7

[2020-03-18 22:18] kintel opened #11 "OAuth2 request is not filtered"
I've written a minimal node.js client using `NodeTracerProvider`.
A simple test run uncovered that the OAuth2 request is not filtered, and shows up as `POST /oauth2/v4/token` in the Cloud Trace backend.

I can dig around a bit myself, but opening this in case someone already knows why.

Note: This works as expected using the OpenCensus agent with pretty much the same client implementation.

[2020-03-19 23:12] mayurkale22 commented on #11
Thanks for reporting this! If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-03-20 00:23] kintel commented on #11
I'll keep it on my list. Writing a solution is likely the easy part. Getting integration tests set up for this may prove to be significantly more effort : /

[2020-03-23 21:12] mayurkale22 opened #13 "Add how to run guide for trace-example"
Consider to add `README.md` with following sections:

1. Installation steps
2. How to run the sample example
3. Google Cloud Trace UI screenshot
4. Useful links

Example: https://github.com/open-telemetry/opentelemetry-js/blob/master/examples/basic-tracer-node/README.md

[2020-03-24 01:48] mayurkale22 opened #15 "Add badge for @google-cloud/opentelemetry-cloud-trace-exporter release"
https://www.npmjs.com/package/@google-cloud/opentelemetry-cloud-trace-exporter

[2020-03-29 07:15] mayurkale22 opened #18 "Add Cloud Trace exporter in OpenTelemetry registry"
Add [Cloud Trace exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/tree/master/packages/opentelemetry-cloud-trace-exporter) in [OpenTelemetry registry](https://opentelemetry.io/registry/). Similar to https://github.com/open-telemetry/opentelemetry.io/pull/107

[2020-03-29 07:17] mayurkale22 opened #19 "Add Cloud Monitoring exporter in OpenTelemetry registry"
Add [Cloud Monitoring exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/tree/master/packages/opentelemetry-cloud-monitoring-exporter) in [OpenTelemetry registry](https://opentelemetry.io/registry/). Similar to https://github.com/open-telemetry/opentelemetry.io/pull/107

Dependency: [opentelemetry-operations-js/issues/9](https://github.com/GoogleCloudPlatform/opentelemetr

[2020-03-30 21:32] mayurkale22 commented on #18
@shivkanya9146 I think you may be interesting in doing this, let me know I can assign to you.

[2020-03-31 07:23] shivkanya9146 commented on #15
I will take this issue.

[2020-03-31 19:27] mayurkale22 commented on #18
Closed via https://github.com/open-telemetry/opentelemetry.io/pull/161, Thank you @shivkanya9146

[2020-03-31 19:27] #18 closed

[2020-03-31 19:28] shivkanya9146 commented on #18
Done.

[2020-04-03 16:30] kintel opened #25 "Add more complete trace example"
The current trace example is very minimal.
We should add a more complete example that:
* Is a service
* Makes an external HTTP request
* Uses auto-instrumentation to create both server and client spans
* Uses trace context from incoming HTTP headers

[2020-04-03 16:42] mayurkale22 commented on #25
Just so you know: we have a couple of examples in the main OpenTelemetry repo: https://github.com/open-telemetry/opentelemetry-js/tree/master/examples. Maybe, we can point everyone to use those examples, WDYT?

[2020-04-03 19:17] kintel opened #26 "Add Cloud Trace propagator"
The OpenTelemetry SDK ships with propagators for Zipkin and Jaeger. OpenCensus also ships with a propagator for Cloud Trace (x-cloud-trace-context).

Should we add a Cloud Trace propagator to this exporter?

-> this could offer customers the possibility of being compatible with existing services that are not yet instrumented using OpenTelemetry by e.g. being able to extract either header format an

[2020-04-04 01:39] mayurkale22 commented on #26
OpenCensus reference package: https://github.com/census-instrumentation/opencensus-node/tree/ef5712fd3b279b0e80494322231232047b06f9e6/packages/opencensus-propagation-stackdriver

[2020-04-04 15:06] kintel commented on #25
Yeah, I don't think we need to be exhaustive here, but since none of the upstream examples will work out of the box with Cloud Trace, it would be nice with at least one more complete example here.
The goal would be to provide something that works out of the box to help customers get started.

These examples _could_ live in https://github.com/GoogleCloudPlatform/nodejs-docs-samples, but I'm not 100

[2020-04-07 20:01] #9 closed

[2020-04-07 20:03] mayurkale22 commented on #19
@shivkanya9146 Would you like to take this one?

[2020-04-07 20:04] mayurkale22 commented on #15
Closed via #27. Thank you @shivkanya9146

[2020-04-07 20:04] #15 closed

[2020-04-08 18:07] shivkanya9146 commented on #19
I will take this issue..

[2020-04-09 17:42] #13 closed

[2020-04-16 17:49] shivkanya9146 opened #37 "Add image in README.md file"
<img width="1584" alt="Trace_Waterfall_View" src="https://user-images.githubusercontent.com/62445341/79489186-e9361f80-7fe8-11ea-92af-2596ef8fed50.png">

[2020-04-16 18:50] mayurkale22 commented on #37
closed via #38

[2020-04-16 18:50] #37 closed

[2020-04-29 23:21] mayurkale22 commented on #19
closing via https://github.com/open-telemetry/opentelemetry.io/pull/177

[2020-04-29 23:21] #19 closed

[2020-05-15 15:04] kintel opened #62 "Cloud Run: example w/docs"
Write an example that can be deployed to Cloud Run and includes:
* [ ] Auto-instrumentation of incoming requests
* [ ] Auto-instrumentation of outgoing requests
* [ ] (optional) manual instrumentation of outgoing request
* [ ] Documentation for how to deploy
* [ ] Verification that all spans are visible in Google Cloud Console
* [ ] Verification that canonical labels exist for all spans: SERVICE,

[2020-05-27 20:03] davidwitten opened #77 "Monitoring: Cannot have label with value of integer"
### What version of OpenTelemetry are you using?
@opentelemetry/metrics: 0.7.0
@google-cloud/opentelemetry-cloud-monitoring-exporter: 0.3.0

### What version of Node are you using?
v10.20.1

### What did you do?
I copied the example in this repo, changing the final line to match the example in the OpenTelemetry Prometheus Exporter: https://github.com/open-telemetry/opentelemetry-js/blob/master/exa

[2020-05-27 20:14] mayurkale22 commented on #77
This solution makes sense to me. As per https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#Metric the label values needs to be in the form of string only.

Feel free to open PR to address this. Thank you :)

[2020-05-29 22:58] davidwitten opened #79 "Monitoring: Metrics don't appear under any resource type"
*Is your feature request related to a problem? Please describe.*

I was exporting my metrics to Google Cloud. When I previously used OpenCensus and the Stackdriver Exporter, I was able to see my metrics when I selected a resource type.
![Screenshot 2020-05-29 at 6 02 42 PM](https://user-images.githubusercontent.com/3642085/83309205-a619bf80-a1d6-11ea-8d4a-3f95d69730ab.png)

However, now I can only

[2020-05-30 00:23] mayurkale22 commented on #79
Exporters can get access to `Resource` field via `MetricRecord`. This has been added in SDK in https://github.com/open-telemetry/opentelemetry-js/pull/1049. This feature is released in [v0.8.1](https://github.com/open-telemetry/opentelemetry-js/releases/tag/v0.8.1). I think it is good time to incorpoorate `Resource` into Monitoring exporter.

[2020-05-30 00:24] mayurkale22 commented on #79
I can assign this issue to you, if you're working on it.

[2020-05-31 19:56] davidwitten commented on #79
Yeah, I'd be happy to work on this issue.

[2020-06-01 01:55] naseemkullah opened #81 "cloud storage instrumentation"
*Is your feature request related to a problem? Please describe.*
Would like a package to auto instrument https://www.npmjs.com/package/@google-cloud/storage

*Describe the solution you'd like*
`opentelemetry-instrumentation-gcs`

*Describe alternatives you've considered*
Manually add spans.

[2020-06-01 02:06] naseemkullah commented on #81
Not sure, but maybe it would make sense to instrument this common lib first/instead: https://www.npmjs.com/package/@google-cloud/common

[2020-06-01 17:23] naseemkullah commented on #81
It has come to my attention that http instrumentation should encompass all calls to GCS. Closing.

[2020-06-01 18:41] kintel commented on #81
Would it be possible to post the source code of a minimal example app to help diagnosing this?

[2020-06-01 19:59] naseemkullah commented on #81
I may need to have the `https` plugin enabled. will update soon.

[2020-06-02 21:08] #77 closed

[2020-06-02 21:18] davidwitten opened #84 "Linter: ESLint couldn't find a configuration file"
### What did you do?
I made changes to code and planned on running the linter before submitting a PR.

So, I ran `npm run lint`

### What did you expect to see?

This is an example when running in the opentelemetry-exporter-collector package:
[code]

### What did you see instead?
[code]

### Additional context
I noticed in other repositories (e.g. [Prometheus exporter](https://github.com/open-tele

[2020-06-02 23:00] davidwitten commented on #79
Hi, just to make sure I'm doing it in a preferred way, within [createTimeSeries](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/master/packages/opentelemetry-cloud-monitoring-exporter/src/transform.ts#L113), I'm calling [detectResources](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-resources/src/platform/node/detect-resources.ts#L27

[2020-06-03 17:41] sk- commented on #26
It'd be great if this could be added.

I'm trying to trace Firebase Cloud Functions, and so far the http and https plugins are generating the spans, however, a new trace id is created instead of reusing the one provided in the context.

See https://github.com/open-telemetry/opentelemetry-js/issues/1136

[2020-06-03 18:58] shivkanya9146 commented on #26
I would like to take this one.

[2020-06-03 19:26] kintel commented on #26
@sk- Out of curiosity, what trigger are you using for your function?
Also, if you could share a simple example demonstrating your issue that would be helpful.

[2020-06-03 21:02] sk- commented on #26
@kintel for now I've only used https triggers. That's not the only trigger we have, but the one I tested with. But I expect the propagator to be able to take the trace from both an http context or a pubsub one.

The issue is as I pointed out in my comment and the linked issue. The requests comes with an `x-cloud-trace-context`, but opentelemetry will create a new trace.

The header has this value:

[2020-06-03 21:17] kintel commented on #26
Thanks!

For the propagator part, I have something in the works that may fix this for you (by automatically giving you a `traceparent` header for the incoming request; that's something built into GCF), but it hasn't deployed yet. I'll spin up a GCF test and let you know here when/if it actually fixes your trace issue.

I don't know about the logging part - you may have to open a separate issue som

[2020-06-04 23:17] naseemkullah commented on #81
@kintel My mistake, with `https` plugin enabled I can clearly see calls to GCS. Closing!

[2020-06-04 23:17] #81 closed

[2020-06-05 15:19] sk- commented on #26
Thanks @kintel that would solve the problem. Do you have an ETA for when this may be deployed?

The logging part should be automatic once we have that header, as the log entries already have the trace. So if we manage to use the same trace from the header that should solve the issue. See https://cloud.google.com/trace/docs/trace-log-integration

[2020-06-05 18:24] shivkanya9146 commented on #26
It might take two weeks to complete this work for me, @kintel @mayurkale22 please assign to me if that's ok.

[2020-06-06 01:36] kintel commented on #26
@sk- My fix doesn't specifically target GCF, but I'm hopeful that I get it for free. Should deploy within a week or two.

[2020-06-06 01:37] kintel commented on #26
@shivkanya9146 I don't have access to this repo. @mayurkale22 maybe able to assign you

[2020-06-06 01:41] mayurkale22 commented on #26
Assigned to you. Thank you 😊

[2020-06-08 05:06] james-bebbington commented on #79
I'd wait for @mayurkale22 to respond as well, but I believe you should primarily just be using the resource that the user has supplied themselves (in the MeterProvider constructor).

While we do also want to provide the option for the resource to be auto-detected, I'm hoping / expecting this will be included as a core SDK feature rather than needing to be implemented in each exporter, see: https:/

[2020-06-08 18:31] TigerHe7 opened #87 "Add Batch Limit for Stackdriver Exporter"
Quote by @mluggy:

"
On high-velocity metrics, you get:
UnhandledPromiseRejectionWarning: Error: Field timeSeries had an invalid value: A maximum of 200 TimeSeries can be written in a single request.

Apparently Stackdriver backend has the limit that each request cannot batch more than 200 time series so exporter needs to do some processing. For example https://github.com/census-instrumentation/op

[2020-06-08 19:46] mayurkale22 commented on #79
I absolutely agree with @james-bebbington. The responsibility of the exporter is only to receive the `Resource` (auto-detected by SDK) and covert it into the appropriate format. Currently, the only SDK resource is attached to the `MeterProvider`[1] and `TracerProvider`[2].

[1] https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-metrics/src/Meter.ts#L52
[2] https:

[2020-06-09 21:21] davidwitten commented on #79
Thanks @james-bebbington and @mayurkale22! I just added the resource from the MetricProvider instead of automatically detecting it

[2020-06-10 01:39] reggiemcdonald opened #94 "Use gRPC to write spans to cloudtrace"
*Is your feature request related to a problem? Please describe.*
As noted by @mayurkale22

The current implementation of the js trace exporter sends data to cloudtrace using HTTP:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/5c6d7733e54f69aa1412ef9d0a9f8a2b99f6a4c1/packages/opentelemetry-cloud-trace-exporter/src/trace.ts#L98-L121

This is inconsistent with the other expo

[2020-06-10 01:40] reggiemcdonald commented on #94
@mayurkale22  can you assign @reggiemcdonald  and @TigerHe7 to this

[2020-06-10 01:59] mayurkale22 commented on #94
@TigerHe7 pls comment on this issue, inorder to assign to you.

[2020-06-10 02:02] TigerHe7 commented on #94
Thanks!

[2020-06-10 04:13] TigerHe7 commented on #84
I'm currently looking into this issue.

Noticing that `lerna run lint` doesn't work immediately after adding those config files, so I'm looking at what other tweaks might be necessary.

[2020-06-19 17:40] inlined opened #98 "Initialize without specifying a project ID"
### Problem
Google Cloud Functions and Google Cloud Run are constrained to not include the `CLOUD_PROJECT_ID` environment variable anymore in order to comply with the Knative runtime contract. This means that GCE, GCF, and Run customers must all manually inject a project ID into the application to initialize the stackdriver collector.

### Recommendation
It should be possible to auto-initialize th

[2020-06-20 05:32] #87 closed

[2020-06-22 18:24] jonahrosenblum commented on #98
Hi, I can give this a shot. Could I claim this issue?

[2020-06-22 20:32] steren commented on #98
Note that all GCP Compute products expose the project ID in a unified way at `http://metadata.google.internal/computeMetadata/v1/project/project-id`

So looking for project ID there would not only deliver a great developer experience on Cloud Functions and Cloud Run, ut also on Kubernetes Engine and Compute Engine.

[2020-06-23 13:57] nlehrer opened #99 "Update format of g.co/agent label in spans"
In [this file](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/d5c75f4e5ce35693c3c552b42004a5727dc36267/packages/opentelemetry-cloud-trace-exporter/src/transform.ts) on line 34, remove the square brackets around the opentelemetry-js version and google-cloud-trace-exporter version. So it should be e.g. `opentelemetry-js 0.5.0; google-cloud-trace-exporter 0.1.0` rather than `

[2020-06-23 21:50] #99 closed

[2020-06-24 16:10] jonahrosenblum commented on #98
Hello, I have not been able to reproduce the problem. I looked into the GoogleAuth library and it seems like it does query the metadata for the project id already which I think makes my code redundant. I can point to which sections of code I believe do this if needed, but I may be misunderstanding some things.

[2020-06-24 16:51] steren commented on #98
If OpenTelemetry already fetches project ID from the GCP instance metadata server and doesn ot require to provide it explicitly as a config, then we can close this issue.

Do you confirm the behavior?

[2020-06-24 19:03] nlehrer opened #101 "Add distribution and histogram metric support"
Only non-distribution (bool, int64, double, etc.) values are supported by the exporter at the moment. See [this](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/a1f6264bec877bc00c66348d249ac076d8cf0207/packages/opentelemetry-cloud-monitoring-exporter/src/transform.ts#L177) line of code for the relevant TODO and where support should be added (perhaps among other places).

[2020-06-24 21:29] jonahrosenblum commented on #98
To test this I created a very simple GCP cloud function which creates a google auth object with no project id specified, and an endpoint which would call the getProjectId() function used in our codebase (to see if we can pull the project id with no environment variable). I found that it was correctly able to determine the project id, I can provide the code sample I used if that would help at all.

[2020-06-24 21:31] steren commented on #98
Great.
We should also confirm on a vanilla GCE instance and a Cloud Run service.

[2020-06-24 22:36] reggiemcdonald opened #102 "cloud monitoring exporter is not compatible with the latest release of @opentelemetry/metrics"
### What version of OpenTelemetry are you using?
@opentelemetry/metrics@0.9.0

### What version of Node are you using?
13

### What did you do?
Starting with a new directory, copied and ran the sample code in the README [here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/master/packages/opentelemetry-cloud-monitoring-exporter/README.md).

I installed two dependencies:
-

[2020-06-24 23:14] reggiemcdonald opened #103 "use gRPC to send metrics to cloud monitoring"
The current implementation of the MetricExporter sends metric data using REST:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/3ecb2e240e66f5b8cfbfa65d6a62ada3329feda3/packages/opentelemetry-cloud-monitoring-exporter/src/monitoring.ts#L215-L224

This is inconsistent with other implementations of the GCP exporters such as the go implementation which uses gRPC.

*Describe the

[2020-06-24 23:25] reggiemcdonald commented on #102
I'm pretty interested in giving this a shot if thats okay?

[2020-06-25 06:37] davedc opened #104 "Trace through Cloud Pub/Sub"
*Is your feature request related to a problem? Please describe.*
Trace context is not passed in on publish on a topic. This leads to detached spans created on subscribers.

*Describe the solution you'd like*
A `@opentelemetry/plugin-gcp-pubsub` and a `GCPPubSubPropagator` class to automatically inject and extract Context.

*Describe alternatives you've considered*
Manually injecting the trace cont

[2020-06-26 17:25] jonahrosenblum commented on #98
I added a simple unit test to demonstrate how this works, hopefully this addresses this issue.

[2020-06-26 18:56] reggiemcdonald commented on #102
There were quite a few new `MetricKind`s added to [opentelemetry/metrics](https://github.com/open-telemetry/opentelemetry-js/commit/a655d2b1ca7df3ddf4457fe406a990f621c46a9f#diff-0cdf7b503ad3cf97f7b836b0cf885210) since the last release of the exporter.

I was wondering if I could get some input into whether I'm mapping `MetricKind` to the appropriate Cloud Monitoring type?

[code]
[source](https://

[2020-06-26 19:08] aabmass commented on #102
Here's what is done in the python one right now. It doesn't look exhaustive, but any of the instruments that use a sum aggregator output a gauge:
https://github.com/open-telemetry/opentelemetry-python/blob/3c366b2a65b41be9c90c34d13cc9a26cb76310ab/ext/opentelemetry-exporter-cloud-monitoring/src/opentelemetry/exporter/cloud_monitoring/__init__.py#L128-L135

[2020-06-27 00:25] jonahrosenblum commented on #84
I made the same changes as @davidwitten and ran into the issue of having a few extra errors that do not appear when the CI linting runs. These issues would be very easy to fix and would not change any code. 8 of the errors are about making the headers block comments and the last one would require adding a package to the package.json file. I was wondering if people would want me to fix these and co

[2020-06-27 21:16] steren opened #106 "node.js sample should not require to set projectID when run on Google Cloud"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/3ecb2e240e66f5b8cfbfa65d6a62ada3329feda3/samples/trace/index.js#L26-L43

The sample spends a lot of line trying to get project ID

According to [this issue](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/issues/98), this is not needed when deploying on Google Cloud (to GCE, GKE, Cloud Run, Functions, GAE...

[2020-06-27 23:11] jonahrosenblum commented on #106
Hello, since this is related to the other issue I was working on do you mind if I take this one as well?

[2020-06-27 23:23] steren commented on #106
If the question is for me, please do :) I was not planning on taking it.

[2020-06-28 15:44] kintel commented on #26
#96 only adds the skeleton. Implementation still pending

[2020-06-29 16:26] aabmass commented on #84
@jonahrosenblum if linting is not currently working and running in CI, it would be great if you could get it working :smiley:

[2020-06-30 00:42] inlined commented on #98
Per Steren's liniked bug, I made assumptions based on the documentation. When the documentation told me to assert without the environment variable it didn't occur to me to try anyway.

[2020-06-30 00:53] jonahrosenblum commented on #98
Just to clarify, when you took out the project id it still worked, yes?

[2020-07-07 06:31] kintel opened #112 "Consider using NPM peer dependencies"
I've run into a few situations where the OpenTelemetry libraries required by the exporter conflicts with the one required by my app. Having two instances of OpenTelemetry like that is probably not what we want.
NPM  has a solution for this called [Peer Dependencies](https://docs.npmjs.com/files/package.json#peerdependencies).

Should we make use of peer dependencies for this exporter?

[2020-07-07 15:42] nlehrer commented on #101
Check if a distribution without buckets is rejected by the API.

[2020-07-07 21:09] aabmass commented on #112
Sounds like a good idea to me

[2020-07-09 06:13] #102 closed

[2020-07-13 16:58] walles opened #114 "Support Tracing Web Sites"
# Request
Currently, the exporter in this repo is only documented for running in Node.js.

Kindly add documentation for how to run it in a browser, on publicly accessible web pages as well.

# Background
I have a web page instrumented with Google Analytics.

I would like that web page to report Cloud Trace information so that tracing information shows up at <https://console.cloud.google.com/traces

[2020-07-14 20:05] shivkanya9146 commented on #26
@kintel @sk- @mayurkale22 this is my initial implementation, please take a look. I will add tests based on initial reviews.

[2020-07-16 07:56] ljcremer opened #117 "Massive amount of spans ingested"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^0.9.0",
"@opentelemetry/node": "^0.9.0",
"@google-cloud/opentelemetry-cloud-trace-exporter": "^0.3.0",

### What version of Node are you using?
10

### What did you do?
If possible, provide a recipe for reproducing the error.
We are using Google Cloud Trace and an

[2020-07-16 17:24] aabmass commented on #117
@ljcremer does this uptick line up with when you upgraded to `@opentelemetry/node": "^0.9.0`? There hasn't been a release of this package in ~3 months.

[2020-07-16 21:32] reggiemcdonald commented on #114
Hi @walles

This exporter is for node only.

Tracing at the client side can be seen in this [example](https://cloud.google.com/community/tutorials/web-instrumentation)

[2020-07-17 05:58] ljcremer commented on #117
@aabmass I am not sure what exactly triggered it but it started around the 2nd of July. We also did a big release then and a lot of things changed.

We have done a lot more investigation and we think it is to do with the fact that
the https plugin is picking up the post for the trace batch write and then it potentially creates an infinite loop. It seems to be related to the issue discussed here: [

[2020-07-17 13:21] ljcremer commented on #117
It seems like the infinite loop could have been the issue as discussed in the previous comment.

The way we fixed this is to add the following into the config of the http and https plugins when creating the trace provider. If you do not do this the tracer creates a new span each time the exporter logs the previous span with the batchWrite post.

        const tracerProvider = new NodeTracerProvide

[2020-07-17 16:14] aabmass commented on #117
@ljcremer thanks for looking into it. Hopefully it can be fixed on the opentelemetry-js side

[2020-07-28 02:34] TigerHe7 opened #129 "Add support for Histogram"
**Change Requested:**
Add support for `OTMetricKind.ValueRecorder` from OpenTelemetry SDK.

**Current Behavior:**
Currently, trying to export metrics collected via `ValueRecorder` results in an error from Google Cloud Monitoring regarding the `MetricKind.UNSPECIFIED` being used.

[2020-08-05 11:34] jsiddiqui opened #141 "Cloud propagator package is missing one file and breaks compilation"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.10.1

### What version of Node are you using?

13.12.0

### What did you do?
If possible, provide a recipe for reproducing the error.

used cloud trace propagator as per instructions at https://www.npmjs.com/package/@google-cloud/opentelemetry-cloud-trace-propagator

### What did you

[2020-08-05 13:45] sk- commented on #141
The type definitions are also missing.

Take a look at the contents of the package: https://unpkg.com/browse/@google-cloud/opentelemetry-cloud-trace-propagator@0.4.0/

[2020-08-05 18:41] #94 closed

[2020-08-06 15:18] aabmass commented on #141
@shivkanya9146 could you take a look?

[2020-08-06 17:47] mayurkale22 commented on #141
Looks like there is a typos in `package.json` files property, see: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/master/packages/opentelemetry-cloud-trace-propagator/package.json#L29-L30

Ideally, it should be like:
[code]

[2020-08-07 02:19] #141 closed

[2020-08-07 05:37] pr4v33n commented on #141
I still see the same error, I'm using `0.4.0` of `@google-cloud/opentelemetry-cloud-trace-propagator`

[2020-08-07 05:43] mayurkale22 commented on #141
The new package is not yet released, we planned to cut new release early tomorrow. Sorry for the inconvenience.

[2020-08-08 14:51] jsiddiqui opened #150 "Cloud Propagator 0.4.1 is not working due to pinned dependency on Open Telemetry 0.10.0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.10.1

### What version of Node are you using?

Node v12 is used on Google App Engine

### What did you do?

Used CloudPropagator as per instructions at https://www.npmjs.com/package/@google-cloud/opentelemetry-cloud-trace-propagator but it is not producing traces that are connected to

[2020-08-10 16:36] aabmass commented on #150
Could you share the output of `npm list`?

[2020-08-10 19:20] jsiddiqui commented on #150
Here are the relevant portions of `npm list` output. Propagator starts working if I delete the separate versions installed at `@google-cloud/opentelemetry-cloud-trace-propagator/node_modules/@opentelemetry` so it seems that #147 should fix it.

[code]

[2020-08-11 21:07] #112 closed

[2020-08-11 21:08] aabmass commented on #150
@jsiddiqui any way you could verify off master?

[2020-08-11 22:26] jsiddiqui commented on #150
Not sure how I can deploy on AppEngine since it runs `yarn install` on its own and makes it readonly thereafter. However, I changed my local version to point to a locally built propagator from master, and configured a custom `x-cloud-trace-context` header in Chrome. The new version is picking the given header as parent context (as expected), whereas the published version was picking `undefined` as

[2020-08-12 19:32] aabmass commented on #150
Great, thank you!

[2020-08-12 19:32] #150 closed

[2020-08-14 02:31] aabmass opened #152 "Missing Cloud Monitoring user agent"
This is implemented in the Go exporter already, see [here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/5fb47d1fa010a14731ca4fcee9bd5e57b25bd5b2/exporter/metric/option.go#L29) and [here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/7454a7ef9c1361afe6b8b2d33e4b85a67c5db897/exporter/metric/metric.go#L124).

[2020-08-18 13:58] naseemkullah opened #153 "documentation request: example of adding trace and spanId properties to log for Cloud Logging"
Please see https://cloud.google.com/trace/docs/trace-log-integration

[2020-08-19 15:29] naseemkullah commented on #153
In particular I'd like to know the best practice on fetching the project Id for a workload running in GCP since the trace value needs to be:

[code]

I've avoided added PROJECT_ID or equivalent as an env var for workloads, and would preferably continue to.

Also looked at https://github.com/googleapis/gcp-metadata#access-specific-properties which seems a little involved.

Any suggestions? @kintel

[2020-08-19 18:02] kintel commented on #153
I think the best way to obtain the Project ID is likely asking GoogleAuth: https://github.com/googleapis/google-auth-library-nodejs#choosing-the-correct-credential-type-automatically. Google auth also have a bunch of internal ways of obtaining the Project ID from common env. variables etc.

However, since this exporter already does the job of determining the correct Project ID (https://github.com/

[2020-08-20 19:05] nareddyt commented on #150
@aabmass, is there any plan to publish a new version with the fix?

[2020-08-22 14:34] jsiddiqui opened #156 "0.4.2 requires deprecated @opentelemetry/base@0.7.0 to be installed"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.10.2

### What version of Node are you using?

v12

### What did you do?
If possible, provide a recipe for reproducing the error.

Install 0.4.2 version with opentelemetry 0.10.2

### What did you expect to see?

Compile without issues

### What did you see instead?

Got module not fo

[2020-08-24 15:38] nlehrer opened #157 "Add integration tests"
We should add integration tests covering the behavior of the exporter when writing to the Cloud Monitoring and Cloud Trace backends.

Please see [this design](https://docs.google.com/document/d/1AAY6iGckJYRV8UCX1LXWFF52eRzIqXL2-0t3jtOHbFk/edit) for how to achieve integration tests for Cloud Trace written by Reg Mcdonald (reggiemcdonald on GitHub) and Tiger He (TigerHe7 on GitHub) when they were Go

[2020-08-25 20:44] aabmass commented on #156
@jsiddiqui thanks for the report. I will definitely upgrade to `>=0.8.0` and remove `@opentelemetry/base` peer dependency! I think the version specifier also can't be caret because of [this edge case in semver](https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004) when major version is 0, so I will use `>=0.8.0 <1.0.0-0`.

[2020-08-25 20:51] jsiddiqui commented on #156
Thanks Aaron. Probably >=0.8.0 and <=0.10.x is better as 0.11 could bring breaking changes by semver rules (core getting renamed, etc.)

Someone could still use 0.11 (when it comes) and npm will only generate a warning. The error in this particular case was only because two package got merged.

[2020-08-25 22:06] aabmass commented on #156
Ah I see what you mean about the version.

What's strange is I tested this and it does fix the issue, even though there is still an import for `@opentelemetry/base`: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/aa8a6441c36931ca40b438a61c8060da2ad7a426/packages/opentelemetry-cloud-trace-exporter/src/trace.ts#L15

[2020-08-25 22:41] aabmass opened #158 "Create metrics sample"
*NB:* Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

*Is your feature request related to a problem? Please descr

[2020-08-25 22:43] aabmass commented on #106
Looks like this was fixed 🙂

[2020-08-25 22:43] #106 closed

[2020-08-25 22:59] aabmass opened #160 "Mocking of GCP environment is insufficient"
The mocking here is not sufficient to prevent the `google-auth-library` from detecting GCE in some cases.
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/aa8a6441c36931ca40b438a61c8060da2ad7a426/packages/opentelemetry-cloud-trace-exporter/test/exporter.test.ts#L62-L68

On my machine, the test code still detected the GCP project I am logged into with gcloud, and so it never

[2020-08-28 22:29] nareddyt opened #161 "[cloud trace propagator] TRACE_TRUE in header is optional"
@google-cloud/opentelemetry-cloud-trace-propagator

The propagator currently assumes the `x-cloud-trace-header` matches the following format:

[code]

However, it seems like the last part `;o=TRACE_TRUE` is optional.

https://github.com/googleapis/google-cloud-dotnet/issues/3055 is the same discussion and fix for `.NET` propagator.

You can also verify this behavior by visiting my custom Cloud Run

[2020-08-31 21:40] #156 closed

[2020-09-01 17:07] aabmass opened #163 "CircleCI cleanup"
- Use new CircleCI convenience images
  (https://circleci.com/docs/2.0/circleci-images/#next-gen-circleci-images)
- Use jobs with parameters
- Remove NPM_CONFIG_UNSAFE_PERM flag for running as root (was needed for
  node:* images, I believe)

[2020-09-01 19:29] aabmass commented on #161
Thanks for the report, this makes sense and we are missing this in python propagator as well.

@kintel could you confirm?

[2020-09-01 19:44] kintel commented on #161
`;o=TRACE_TRUE` is optional, but it's probably good to write it as it's usually generated from a trace context, which will have some valid flag setting.

If defaulting any value, it should probably default to zero.

[2020-09-01 19:51] nareddyt commented on #161
I agree with your statement for writing the trace context. We should always generate a header that has the flag explicitly set.

But when reading an incoming trace context, we should default to 1.

Otherwise this package will be un-usable for us. We can't easily control how the trace context is generated from other services. It would be much more usable if this package can accommodate propagation

[2020-09-01 19:58] kintel commented on #161
That needs more discussion. Defaulting to 1 can be very unsafe as would imply tracing 100% of requests, and could thus generate a crazy torrent of traces.

Perhaps your use-cases could be discussed in a larger OpenTelemetry forum? W3C traceparent headers don't support as missing sampling decision, so this can become a compatibility challenge.

[2020-09-02 05:34] nareddyt commented on #161
That's a fair point.  In that case, I'll try to ensure our callers correctly generate the `;o=1` in the header. That would also resolve my issue with trace context propagation.

We're using the OpenCensus tracer in Envoy proxy to sample requests and generate the header. This code implies it's always included, but we're not seeing that behavior. Need to do more digging into why that's not happening

[2020-09-02 05:37] nareddyt commented on #161
It's been a while since I've worked with typescript, but I think the current implementation of the propagator will correct treat a missing `;o=TRACE_TRUE` as `0`.

https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/0c92cdeed2ef080eec547a6be80e5b9c7dbc3d42/packages/opentelemetry-cloud-trace-propagator/src/CloudPropagator.ts#L83

I'll close the issue then, seems like there's no

[2020-09-02 05:37] #161 closed

[2020-09-03 21:07] #163 closed

[2020-09-07 08:37] marcoreni commented on #117
opentelemetry-js released a change to be able to filter gRPC requests: https://github.com/open-telemetry/opentelemetry-js/pull/1353 . Requests having `x-opentelemetry-outgoing-request` are automatically filtered, so I presume this can be considered solved?

[2020-09-08 09:46] jsiddiqui commented on #156
@aabmass Can you make a new release

[2020-09-08 14:15] sk- opened #165 "Add support for opentelemetry 0.11.0"
In #159 the opentelemetry packages were required to be between 0.8 and 0.10, however a day later version 0.11 of the opentelemetry packages was released.

That version has a breaking change as `HttpTextPropagator` was renamed to `TextMapPropagator`. However, given that the opentelemtry packages and these package are still in beta (0.x versions), I'd suggest to keep them in sync.

One could conside

[2020-09-08 22:04] aabmass commented on #165
Thanks for the overview of breaking changes. I am doing another patch release for the fixed peer deps in #159 then I will work on this.

@mayurkale22, any thoughts on syncing the cloud package versions with the OT versions?

[2020-09-08 22:20] aabmass commented on #156
Published

[2020-09-08 22:25] aabmass commented on #117
I'm going to close this for now 👍

[2020-09-08 22:25] #117 closed

[2020-09-16 12:28] DjMilica opened #173 "Some traces are not exported"
### What version of OpenTelemetry are you using?
I am using 0.10.2 OpenTelemetry version.

### What version of Node are you using?
I am using 12.18.4 node version.

### What did you do?

I'm creating custom instrumentation for my app.
For now, I've created one express middleware where I am starting a new span, and ending it when res.end is called.
My application is on Google Cloud and I am viewing

[2020-09-24 08:35] confiq commented on #165
This is a great idea!
This might be nor right place to ask, but right now `@google-cloud/opentelemetry-cloud-trace-propagator` is kinda broken with OT 0.11.
Any plans to fix the breaking change soon?

[2020-09-30 00:08] nicolasgere opened #176 "Support ValueRecorder export"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.10.2

### What version of Node are you using?
10.4

### What did you do?
Just want to use ValueRecorder

### What did you expect to see?

### What did you see instead?

### Additional context
Based on https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/07da5214d9261

[2020-09-30 02:37] #165 closed

[2020-09-30 02:40] aabmass commented on #176
The aggregation behavior for ValueRecorder is under a lot of debate in the spec https://github.com/open-telemetry/opentelemetry-specification/issues/636. It looks it will probably change to some sort of Histogram or sketch. That said, we could probably send LastValue that is currently give in OTel JS.

[2020-09-30 02:58] aabmass commented on #165
Should be able to release tomorrow :)

[2020-10-01 16:06] aabmass commented on #173
@DjMilica can you provide some code for a repro?

[2020-10-05 02:45] slowtick opened #180 "Use @grpc/grpc-js instead of grpc"
*Is your feature request related to a problem? Please describe.*
Currently libraries use [grpc package](https://www.npmjs.com/package/grpc). Installing grpc library requires C/C++ compiler and gives errors when native C/C++ is changed/updated.

*Describe the solution you'd like*
Switch to [@grpc/grpc-js package](https://www.npmjs.com/package/@grpc/grpc-js) that is mostly compatible with grpc packa

[2020-10-06 17:06] aabmass opened #181 "Handle retry logic and error logging internally"
Context: https://github.com/open-telemetry/opentelemetry-js/issues/1561#issuecomment-703737042

`ExportResult.FAILED_RETRYABLE` will be removed from the OTel JS (https://github.com/open-telemetry/opentelemetry-js/issues/1569) as retries should be handled by the exporter. In addition, the error logging should also be handled in the exporter atm. ~This will fix the `UnhandledPromiseRejectionWarning:

[2020-10-06 17:13] aabmass commented on #180
Seems like this should be doable. I thought that grpc-js [was not compatible](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/97#discussion_r445935666) with all versions we support, but taking a second look, it should be ok [`^8.13.0 || >=10.10.0`](https://github.com/grpc/grpc-node/blob/a5cc154c8e49cf68691880cbddf33456fbbd306a/packages/grpc-js/package.json#L8-L10).

[2020-10-15 20:37] #114 closed

[2020-10-15 20:37] aabmass commented on #10
Codecov seems to be working, good to close @mayurkale22 ?

[2020-10-15 20:38] aabmass opened #185 "Upgrade to typescript v4"
gts v3 has a dependency on `"update-notifier": "^5.0.0"` which is `node >= 10` only while the current version of gts is typescript v3 only 🙁 so we are stuck on v3 unless we drop node8 or gts.

[2020-10-15 20:42] mayurkale22 commented on #10
Sure.

[2020-10-15 20:42] #10 closed

[2020-10-15 22:20] abihani-slb opened #186 "Update google-auth-library to ^6.1.1"
There's a security vulnerability (CVSS 3 Score: 7.3 | CVSS 2 Score: 7.5) in the [node-forge](https://www.npmjs.com/package/node-forge) npm package, which is a transitive dependency from google-auth-library:

├─┬ @google-cloud/opentelemetry-cloud-trace-exporter
│ └─┬ google-auth-library
│   └─┬ gtoken
│     └─┬ google-p12-pem
│       └── node-forge

node-forge@0.10.0 has a patch for this vulnerabil

[2020-10-15 22:25] abihani-slb commented on #186
I see there's already a PR open closing this redundant issue.

[2020-10-19 19:27] aabmass commented on #186
Thanks for the report!

[2020-10-19 20:13] aabmass commented on #186
Unfortunately, that version of `google-auth-library` doesn't support node8 so we would need to drop node8 or get a backport of the fix.

[2020-10-23 23:14] sk- opened #188 "Upgrade to opentelemetry 0.12.0"
A new verdion of opentelemetry was released, but because it is a 0.x version it won't get updated unless it is allowed in the dependency file.

See https://github.com/open-telemetry/opentelemetry-js/releases/tag/v0.12.0 for the breaking changes

I asked about it before, but it would be great to pin the version number of the provided packages to the opentelemetry version, to ease the matching of th

[2020-10-27 01:50] aabmass commented on #188
You're suggesting this just for pre GA right?

[2020-10-27 14:36] sk- commented on #188
Yes, although that may not be a huge win now, given that opentelemetry is reaching GA soon.

After GA, I'd still keep the versions pinned to the major version, so that version 1.x of opentelemetry-operations uses version 1.x of opentelementry.

Below are my current opentelemetry dependencies
[code]

Note how all dependencies except for `@opentelemetry/plugin-express`, `@google-cloud/opentelemetry-

[2020-10-27 15:51] aabmass commented on #188
This make sense for sure, let me bump the version in the PR and see what others think

[2020-10-28 20:15] aabmass opened #190 "Implement shutdown() in exporters"
Context: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/189/files#r513666330

[2020-10-29 19:10] aabmass commented on #188
@sk- I joined the JS SIG call yesterday and they discussed releasing contrib packages more frequently with independent versioning from core. I'm not sure how much value it will have for me to do so. I'm just going to keep it consistent and release at version 0.6.0

When OpenTelemetry goes GA, I will bump to 1.0.0. But if we make any breaking changes to our API, we would have to bump for semconv, r

[2020-10-29 21:35] #188 closed

[2020-11-03 16:37] #185 closed

[2020-11-03 23:31] #180 closed

[2020-11-03 23:31] #186 closed

[2020-12-08 14:23] bkspace commented on #181
@aabmass , any updates on this, appears to be throwing this every time it tries to send traces to Google Trace, which is making logs semi-unreadable.

Are non Googler PRs accepted in this repo?

[2020-12-09 00:58] aabmass commented on #181
What are you seeing in your logs exactly?

PRs are welcome 😄 You just need to sign the CLA!

[2020-12-09 10:33] bkspace commented on #181
Gotcha!

When on 0.13.0 (OT core/api), ExportResult.FAILED_RETRYABLE does not exist and an unhandled exception is thrown from a catch block (_batchWriteSpans, trace.js)

Switching to 0.12.0 - we were actually hitting the trace api rate limit 🤒. The BatchSpanProcessor's (which calls export) resultCallback has an empty .catch() block (so any non SUCCESS will have an unhandled exception warning messa

[2020-12-09 16:47] aabmass commented on #181
Oh, I didn't realize 0.13.0 was released. The peer dependency in this package is accurate, so it currently only works with 0.12. Let me see how simple updating it is.

Got it. 0.13 should fix the unhandled exception

[2020-12-16 07:43] sinoohe opened #214 "http attributes are not mapped accordingly"
The trace exporter does not export HTTP attributes to a right format compatible with google (https://cloud.google.com/trace/docs/reference/v2/rest/v2/Attributes)

### What version of OpenTelemetry are you using?
0.13.0

### What version of Node are you using?
v14.15.1

### What did you do?
using this code in tracing.js:
[code]
my package.json:
[code]
I started my HTTP server and created some GET a

[2020-12-16 08:48] sinoohe opened #215 "Cannot read property 'FAILED_RETRYABLE' of undefined"
getting
`UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'FAILED_RETRYABLE' of undefined` on the console

### What version of OpenTelemetry are you using?
0.13.0

### What version of Node are you using?
v14.15.1

### What did you do?
follow up instructions on https://github.com/GoogleCloudPlatform/opentelemetry-operations-js#readme to create tracing.js file
run the project by thi

[2020-12-16 16:22] aleccool213 commented on #215
I was getting this when I upgraded to 0.13.0, needed to downgrade 0.12.0 to fix this. Likely this pr will fix: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/277

[2020-12-16 16:47] vmarchaud commented on #215
@aleccool213 Sadly the PR will not fix that, it's linked to this breaking change: https://github.com/open-telemetry/opentelemetry-js/commit/14c92dabfc735117bec2350d30ea009766089518, the google export should stop using `FAILED_RETRYABLE` for you to be able to use `0.13.0` without issue.

[2020-12-16 18:37] loneparadox commented on #214
I could find the following go and python exporter implementations.
It seems to have a conversation like this in
See https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/540edb3af1732e2795bf251d89a57cf9350d5441/exporter/trace/trace_proto.go#L52
and https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/blob/c3772de4cf50950f1d51685ff3bbf0e46ee026df/opentelemetry-ex

[2020-12-16 21:02] aabmass commented on #215
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/208 upgrades this repo packages for 0.13.0, trying to get it reviewed and merged soon

[2020-12-16 21:16] aabmass commented on #215
Btw, the `peerDependencies` are all correct in these packages. If you run `npm ls`, you should see this or something similar if you have installed an unsupported opentelemetry version:

[code]

[2020-12-21 02:59] davearata-snorack opened #218 "setExtractedSpanContext is not a function"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
14.15.3

### What did you do?
If possible, provide a recipe for reproducing the error.
Setup a tracer and propagator with this code
[code]

### What did you expect to see?
The application to not throw an error

### What did you see instead?

[2020-12-23 18:20] #214 closed

[2020-12-28 18:06] #215 closed

[2020-12-30 18:45] aabmass commented on #218
I was not able to reproduce this using your code. https://github.com/aabmass/ops-js-218-repro

[2021-01-06 19:17] chrisdostert commented on #215
Is it possible to get a release cut including this?

[2021-01-14 17:00] kaareal opened #224 "Was not able to determine GCP project ID"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.8

### What version of Node are you using?
v14.15.0

### What did you do?
I updated @google-cloud/opentelemetry-cloud-trace-exporter to 0.8
And ran my code on a local machine (outside google cloud)

### What did you expect to see?
No error

### What did you see instead?
[code]

### Add

[2021-01-20 20:13] aabmass commented on #224
What exact version of `google-auth-library` are you seeing resolved when you switch between these versions? Both `@google-cloud/opentelemetry-cloud-trace-exporter` 0.7.0 and 0.8.0 have the same `"google-auth-library": "^6.1.3"` which is where this would be coming from.

Regardless, just passing the project ID to the exporter constructor or setting `GOOGLE_CLOUD_PROJECT` environment variable should

[2021-01-21 13:11] forking-renovate[bot] opened #226 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: packageRules[2].matchPackagePrefix, packageRules[2]: Each packageRule must contain at least one match* or ex

[2021-01-25 23:40] davearata-snorack commented on #218
@aabmass Thanks for looking into it. figured out it was caused by including the cloud pubsub node module it caused two different versions of opentelemtry/core.

[2021-01-25 23:40] #218 closed

[2021-02-01 15:58] punya commented on #173
Closing out as stale -- please reopen if there are additional details.

[2021-02-01 15:58] #173 closed

[2021-02-01 15:58] punya commented on #224
Closing out as stale -- please reopen if there are additional details.

[2021-02-01 15:58] #224 closed

[2021-02-01 16:06] punya commented on #98
Closing out as stale -- please reopen if there are additional questions.

[2021-02-01 16:06] #98 closed

[2021-02-01 16:06] punya commented on #84
Fixed.

[2021-02-01 16:06] #84 closed

[2021-02-01 16:29] aabmass commented on #11
I am no longer seeing this issue. Instrumentation is now suppressed in the [BatchSpanProcessor](https://github.com/open-telemetry/opentelemetry-js/blob/bf99144ad4e4fa38120e896d70e9e5bcfaf27054/packages/opentelemetry-tracing/src/export/BatchSpanProcessor.ts#L112) and [SimpleSpanProcessor](https://github.com/open-telemetry/opentelemetry-js/blob/bf99144ad4e4fa38120e896d70e9e5bcfaf27054/packages/opent

[2021-02-01 16:29] #11 closed

[2021-02-01 16:32] aabmass commented on #129
The OTel metrics specification still hasn't decided what default aggregator will be used for ValueRecorder. It's looking like it will be "some histogram sketch" (e.g. DDSketch) which will produce fancy histograms. Since this will be changing, we should put this work off until the JS SDK is up to date.

[2021-02-01 16:33] aabmass commented on #176
Duplicate of #129, closing in favor of that issue

[2021-02-01 16:33] #176 closed

[2021-02-01 17:00] steren commented on #98
This bug needs to be re-opened as the issue still exists, it's not because the OpenTelemetry tam hasn't addressed it in a few months that it should be closed.

I cannot re-open.

[2021-02-01 19:40] aabmass commented on #98
@steren I believe this issue is solved, unless I'm missing something from the comments above.

This is the case, google-auth-library queries the project ID if it's missing.

[2021-02-01 19:42] steren commented on #98
Ah great, sorry I forgot it was already doing it. Yes, then let's close this issue as fixed,

[2021-02-01 20:09] aabmass commented on #98
Just tested in Cloud Run and it picks up the project ID alright. Sorry for the confusion

[2021-02-09 09:01] QuestionAndAnswer opened #231 "TypeError: batchWriteSpans error: api_1.getParentSpanContext is not a function"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@google-cloud/opentelemetry-cloud-trace-exporter": "^0.8.0"
"@google-cloud/opentelemetry-cloud-trace-propagator": "^0.8.0"
"@opentelemetry/api": "^0.16.0",
"@opentelemetry/node": "^0.16.0",
"@opentelemetry/plugin-express": "^0.13.0",
"@opentelemetry/plugin-grpc-js": "^0.16.0",
"@opentel

[2021-02-09 16:47] aabmass commented on #231
Thanks for reporting. Yes, this package needs to be updated and won't work with 0.16.0 right now. The peerDependency for the package is `^0.14.0` which is still correct https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/10b37fbcb920a7bc68efd6bf97db5084b32e5085/packages/opentelemetry-cloud-trace-propagator/package.json#L57-L58

If you run `npm ls`, do you see npm complain about

[2021-02-10 07:47] QuestionAndAnswer commented on #231
@aabmass well, I guess you confusing something. [https://semver.org/](https://semver.org/). With any incompatible change major version should be updated, and API change is an breaking change, so it's not enough to update only minor. Otherwise, they should've kept getParentSpanContext and added getSpanContext, so nothing is broken.

No, and I don't think it should, as actually 0.16.0 following semv

[2021-02-10 08:06] QuestionAndAnswer commented on #231
Oh, I looked through the dependencies versions of whole opentelemetry stack, and for 0.16.0 version it's a mess. I'm downgrading to 0.14.0, for api, core and the plugins, as they all correctly sticking single 0.14.0 version. 0.16.0 packages somehwere using 0.16.0, somewhere 0.15.0, and hence crating lots of issues.

[2021-02-10 16:12] aabmass commented on #231
@QuestionAndAnswer there's an edge case in semver for major version zero https://semver.org/#spec-item-4

Npm actually respects this ([try it here](https://semver.npmjs.com/))
<img width="1082" alt="Screen Shot 2021-02-10 at 11 06 29 AM" src="https://user-images.githubusercontent.com/1510004/107536681-0a778600-6b90-11eb-85a9-55d42ba0d92f.png">

Here's what I get when I tried your dependencies:

[c

[2021-02-11 09:55] QuestionAndAnswer commented on #231
@aabmass , well, okay. Good to know. My install didn't throw me this. Don't know what's next. Either update exporter to work with 0.16.0 of an api package or close the ticket if it's not under the repo support policy.

Thanks for replies.

[2021-02-11 19:51] aabmass commented on #231
Might be npm version, I'm not sure. It will be updated for 0.16.0 anyway :) (#232)

[2021-02-11 19:51] #231 closed

[2021-02-22 12:47] weyert opened #235 "Add support for 0.17 opentelemetry-js package"
*Is your feature request related to a problem? Please describe.*
A new version of the `opentelemetry`-package has been release version v0.17

*Describe the solution you'd like*
Update the package to depend on v0.17 instead of v0.16

*Additional context*
None

[2021-02-22 23:49] aabmass commented on #235
Thanks for the heads up, should be able to get to it tomorrow or Wednesday.

[2021-02-22 23:51] aabmass opened #236 "Use diagnostic logger for internal logging"
Context: https://github.com/open-telemetry/opentelemetry-js/issues/1877#issue-795430663

This was introduced in 0.17 API.

[2021-02-24 18:43] weyert commented on #235
Any news 👼 ?

[2021-02-28 04:20] weyert commented on #235
@aabmass I have a draft pull request to upgrade to 0.17+ only I am having trouble with the `request`-parameter and its `auth`-property in the monitoring exporter. If you know a solution for that would be great!

[2021-03-01 15:42] aabmass commented on #235
Thanks for the PR, I'll comment on it :)

[2021-03-02 19:59] aabmass opened #241 "Unify use of promises/callbacks to use async"
- use `await` in places like [this](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/ba78ad813e000708fda9d8954fd2af0880f0d7a2/packages/opentelemetry-cloud-monitoring-exporter/src/monitoring.ts#L199)
- use promise version of googleapis in [the same place](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/ba78ad813e000708fda9d8954fd2af0880f0d7a2/packages/

[2021-03-03 18:30] #235 closed

[2021-03-03 18:59] weyert commented on #236
@aabmass This one can also be closed as I switched the logger to diag already :)

[2021-03-04 02:07] #236 closed

[2021-03-13 09:32] weyert opened #247 "Missing 0.90 in releases"
Looks like no new release was made for Github releases, see: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/releases/tag/v0.8.0

[2021-03-17 19:35] aabmass commented on #247
Oops, forgot to publish it, here it is https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/releases/tag/v0.9.0. Thanks for letting me know

[2021-03-19 13:23] weyert commented on #247
Thank you :)

[2021-03-19 13:23] #247 closed

[2021-03-30 21:39] thespacedeck opened #252 "core_1.ExportResultCode does not exist"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
^0.9.0

### What version of Node are you using?
v12.19.1

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
Expected no error

### What did you see instead?
TypeError: Cannot read property 'FAILED' of undefined
/@google-

[2021-04-01 02:34] weyert commented on #252
Make sure you are using 0.18+ of Opentelemetry-js based on the error it looks like you are using an older version

[2021-04-01 15:03] aabmass commented on #252
Adding onto that, what version of npm are you using @thespacedeck ? If you have npm 7, it should have complained to you about unsupported peerDependency

[2021-04-01 16:40] punya commented on #104
Is this solved by https://github.com/googleapis/nodejs-pubsub/pull/1078?

[2021-04-01 20:09] aabmass commented on #104
Yes, pubsub node is instrumented directly now 🙂 I'm going to close this

[2021-04-01 20:09] #104 closed

[2021-04-02 11:29] weyert commented on #104
Yes, this ticket can be closed, but love to get some feedback from Google Trace Opentelemetry team about the attributes I am sending and if it matches what the spec had it mind. I think in future releases of google-pubsub improvements can be made :)

[2021-04-05 16:17] aabmass commented on #104
I'll take a look at the pubsub PR

[2021-04-07 17:19] seanachai opened #254 "MetricExporter.export signature doesn't match the base class"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
@opentelemetry/metrics: ^0.18.2
@google-cloud/opentelemetry-cloud-monitoring-exporter: ^0.9.0

### What version of Node are you using?
v12.20.2

### What did you do?
If possible, provide a recipe for reproducing the error.

The MetricExporter implementation's export definition does not m

[2021-04-09 13:10] naseemkullah opened #257 "propagator: allow setting of TRACE_TRUE when not present"
https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/103e0a4426560bd9a8cc932af2f03a889f2bd1fe/packages/opentelemetry-cloud-trace-propagator/src/CloudPropagator.ts#L89-L93

Would it make sense to have an option to add a sampling decision if TRACE_TRUE != 1?

use case: external clients are not tracing aware/instrumented, but I would like the HTTPS LB => backend service span if pos

[2021-04-09 13:11] naseemkullah commented on #257
e.g. (notice `NEWTHING`):

[code]

[2021-04-09 14:20] aabmass commented on #257
Not sure I understand the question here. `TraceFlags` only has two possible values, what would `NEWTHING` be?

[2021-04-09 15:47] naseemkullah commented on #257
Ah sorry, NEWTHING would be a sampling algorithm to select `TraceFlags.NONE` or `TraceFlags.SAMPLED`

[2021-04-09 16:19] aabmass commented on #257
I think the best way to achieve something like this is to set a `ParentBasedSampler` with a [`remoteParentNotSampled`](https://github.com/open-telemetry/opentelemetry-js/blob/a2fff0dd2ece0c7d1246d5dae142fcf03371c21e/packages/opentelemetry-core/src/trace/sampler/ParentBasedSampler.ts#L135-L136) like:
[code]

That would achieve what you're proposing right?

[2021-04-09 16:23] naseemkullah commented on #257
If I'm not mistaken, I don't think it would include the parent span, which is the span from HTTPS LB to backend service, which is my goal.

[2021-04-09 16:32] aabmass commented on #257
Ahh, if the load balancer isn't sending any spans, there is nothing you can do about it in the OTel config. OTel doesn't back-propagate in response headers at the moment, and I don't think that X-Cloud-Trace-Context is valid for that purpose.

[2021-04-09 16:35] aabmass commented on #257
From Slack:

With that OTel sampler config, when `X-Cloud-Trace-Context` is not explicitly sampling (`o=1`), you should not be seeing **any** spans in that trace coming through.. If that's not the case, that would be an OTel JS SDK issue.

[2021-04-09 17:09] naseemkullah commented on #257
That's true, I will open an issue in the otel js repo after reproducing locally.

That aside:

This comes back to the option I am proposing, allowing cloud trace propagator to enabled sampling at the HTTPS LB level if not explicitly set (i.e. `o is nullish`).  To circle back to the use case: while the external client may not be trace-instrumented, to still measure the span between the LB and the b

[2021-04-09 17:19] aabmass commented on #257
I still don't exactly understand, how would you achieve this at the HTTPS LB level if it is within your JS code *after* the LB?

[2021-04-09 18:38] aabmass commented on #257
Ya, I believe the approach I mentioned in https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/issues/257#issuecomment-816796572 should do exactly that for the current process and any calls after. However the root span from GCLB will still not be sent unless `o=1` in the incoming request AFAIK.

Are you sure it is never sending `o=1`? It might just be sampling at a low ratio. You cou

[2021-04-09 18:47] naseemkullah commented on #257
I am interested in the span from HTTPS LB to first backend service, what you mention would allow for the remainder of the trace to be sampled (which is already happening strangely without setting the `remoteParentNotSampled` strangely, but that is off topic).

Right `o=1` is never set and forcing it indeed samples the whole trace.

Is there something wrong with the approach of setting the `o` via

[2021-04-12 17:14] aabmass commented on #257
Where is this screenshot coming from?

[2021-04-12 17:30] naseemkullah commented on #257
Jaeger UI.

curl with or without trace context => HTTPS LB (trace context added if none present) => otel instrumented backend svc => otel collector => jaeger

[2021-04-12 17:58] aabmass commented on #257
Ahh that makes a lot of sense, I thought you were exporting traces to Google Cloud Trace. The problem is that none of the spans from GCLB are sent to Jaeger, they only appear in Cloud Trace.

[2021-04-12 18:13] naseemkullah commented on #257
Oh yeah that does, thanks! I guess there is no way to achieve exporting GCP infra spans to something other than Cloud Trace. As such there will always be missing spans if trying to capture those and using a backend other than Cloud Trace, is that right?

[2021-04-12 19:01] aabmass commented on #257
For now, unfortunately yes there will be missing spans, but those spans should still be available in Cloud Trace if you can find a way to easily link them ([link patterns](https://www.jaegertracing.io/docs/1.22/frontend-ui/#link-patterns)?).

[2021-04-12 19:01] aabmass commented on #257
Can we close this issue @naseemkullah?

[2021-04-12 19:04] naseemkullah commented on #257
Absolutely, thanks for the help!!

[2021-04-12 19:04] #257 closed

[2021-04-13 19:48] aabmass commented on #254
This is valid in TS (see [here](https://github.com/Microsoft/TypeScript/wiki/FAQ#why-are-functions-returning-non-void-assignable-to-function-returning-void) and [this repro](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgGIHt3IN4FgBQyEAHgA7pRgAUBydyAthGFMAgM4Bcy7LoA5gG0AugBpa9BACNuVKBHYBXADZhuvViH4BKZAF4AfMgBu6YABMJ27qYsBuAgF8CBBMrjt2yAEJwoyYAZSZQgmcC8MLDxCZA8ATxAEIjIKagk6Jj4OdT4tEXE

[2021-04-14 00:04] seanachai commented on #254
Oh ok well that's interesting haha. Admittedly, I'm new to TS so thanks for your help here @aabmass.

Here's the error I'm getting when I run `tsc metrics.ts` where metrics.ts is the following:
[code]

Error:
[code]

For the dangling promise issue - yeah I believe it's `UnhandledPromiseRejectionWarning` that I'm seeing. I'd be happy to help with a PR for that. 🍻

[2021-04-15 15:31] aabmass commented on #254
Based on this from your error message:

I would guess that this is version mismatch problem where TS is getting incompatible `ExportResult` classes between interface and impl. Could you share a package.json to repro this, just to confirm? Also what version of npm do you see from `npm --version`?

[2021-04-15 20:22] mbrevda commented on #114
@reggiemcdonald  is there no way to send traces directly to Cloud Trace from the front end _without_ requiring my own server?

[2021-04-15 22:30] weyert commented on #252
Just wanted to let you know a new version of pubsub package got published earlier today

[2021-04-16 16:04] aabmass commented on #114
@mbrevda no this is not possible. You have to run an OpenTelemetry collector to do this.

[2021-04-20 04:52] mbrevda commented on #114
With the advent of serverless, this requirement seems arbitrary and counterintuitive. Are there any plans to expose an endpoint where front-end traces can be sent directly to Cloud Trace?

[2021-04-23 15:04] aabmass commented on #114
Thanks for the feedback @mbrevda. We are having discussions to see how we can support this, but there are a few issues
- How can a frontend client authenticate requests to Cloud Trace if using this exporter directly? You'd have to give them an auth token to make requests to Cloud Trace API, which is a security issue.
- You can use the OTLP exporter as mentioned above and point it at a serverless e

[2021-04-25 11:18] mbrevda commented on #114
Most other offerings provide a key/identifier used to uniquely the hosting app. This applies to the web, but equally to mobile apps where the auth token cannot be properly protected. While this is obviously not the most secure setup, considering that the key provides write-only abilities of data (no settings can be changed with this key) the risks are pretty minimal. One example of this is Google

[2021-05-22 03:21] aabmass opened #267 "Stop adding project id to all spans"
This happens here:

https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/0fb13d7be54f8175384b26bbb02bdedff5e39824/packages/opentelemetry-cloud-trace-exporter/src/transform.ts#L43

This is unnecessary and doesn't follow our "spec" of GCT exporters.

[2021-05-24 16:13] #267 closed

[2021-05-29 22:05] devyourcar opened #271 "Modify /http/host or http.url"
Hi there,

I would like to mask certain query params that are part of the request url (e.g. token / auth).
How would I go about updating those attributes via @google-cloud/opentelemetry-cloud-trace-exporter so they don't show up in the Google Trace labels section?

Thanks.

[2021-06-01 09:04] jonnydgreen commented on #129
Looking at the spec feature freeze milestone, this is due by the end of September 2021: https://github.com/open-telemetry/opentelemetry-specification/milestone/14. If you need, happy to help you both out on an implementation when the default aggregator has been chosen for ValueRecorder and the JS SDK is up to date :)

[2021-06-02 22:21] aabmass commented on #129
We're always happy to receive PRs 😃  I think this is completely blocked until this work is done in the spec (September timeline) AND its implemented in the JS SDK (maybe later).

[2021-06-08 14:51] benitezho opened #273 "cloud-trace-exporter not sending spans with update of @opentelemetry dependencies to 0.20.0"
### What version of OpenTelemetry are you using?
Latest version 0.20.0

### What version of Node are you using?
v12.16.1

### What did you do?
Upgraded opentelemetry dependencies to latest release 0.20.0

   "@opentelemetry/api": "^0.20.0",
   "@opentelemetry/core": "^0.20.0",
   "@opentelemetry/metrics": "^0.20.0",
   "@opentelemetry/node": "^0.20.0",
   "@opentelemetry/resources": "^0.20.0",

[2021-06-08 16:47] aabmass commented on #273
PR for supporting 0.20 is in the works. However, NPM should have complained about unmet peer dependencies because 0.20 is not supported with the current release. Do you mind sharing your package.json file?

[2021-06-08 18:31] benitezho commented on #273
@aabmass yes, npm it's complaining about the peer dependencies.

    warning " > @google-cloud/opentelemetry-cloud-trace-exporter@0.9.0" has incorrect peer dependency "@opentelemetry/core@^0.18.0".
   warning " > @google-cloud/opentelemetry-cloud-trace-exporter@0.9.0" has incorrect peer dependency "@opentelemetry/resources@^0.18.0".
   warning " > @google-cloud/opentelemetry-cloud-trace-exporter@0

[2021-06-09 20:16] aabmass commented on #271
Can you share a little more info about how the traces are being created? Are you using one of the instrumentation packages from OpenTelemetry?

[2021-06-14 18:41] #252 closed

[2021-06-14 18:41] #273 closed

[2021-06-17 23:52] #254 closed

[2021-06-19 17:23] Flydiverny commented on #273
Also ran into this after following gcp tutorials on setting up tracing and was very confused why things where not working 😄 Any chance for a release of the fixes in #274?

[2021-06-19 17:57] weyert commented on #273
@Flydiverny I was told it might be release on Monday 🤞

[2021-06-21 22:50] aabmass commented on #273
#291 is queued up and ready to go (waiting for review). Be aware there are a few breaking changes in the output of the traces

[2021-06-28 06:33] patryk-smc commented on #62
Any progress on this? OpenTelemetry doesn't work on Cloud Run / Cloud Functions yet, correct?

[2021-07-07 20:36] aabmass commented on #62
@patryk-smc I don't have an actual example but tracing should work fine. Use a regular BatchSpanProcessor and call [`TracerProvider.shutdown()`](https://github.com/open-telemetry/opentelemetry-js/blob/c25ac926861134b8d06ad6c934d5132f315b6541/packages/opentelemetry-tracing/src/BasicTracerProvider.ts#L200) before your program ends (or is throttled). For Cloud Run, you can add a SIGTERM handler to ca

[2021-07-19 03:42] thanaratjaruenying opened #302 "Was not able to determine GCP project ID"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
`"@google-cloud/opentelemetry-cloud-trace-exporter": "0.10.0"`
`"@opentelemetry/node": "0.23.0"`
`"@opentelemetry/tracing": "0.23.0"`

### What version of Node are you using?
`v12.22.1`

### What did you do?
[code]

### What did you expect to see?
I expect not to see errors

### What did

[2021-07-19 15:55] aabmass commented on #302
The credentials object shouldn't have project ID. You can pass the project ID directly in the options: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/b80a2b6fd17dc9fce74b2aad4bc19e97dba8f286/packages/opentelemetry-cloud-trace-exporter/src/trace.ts#L42

For example

[code]

[2021-07-20 02:34] thanaratjaruenying commented on #302
yes, there is `{project_id: foo}`, just not in the right case

[2021-07-20 02:34] #302 closed

[2021-07-21 20:38] aabmass commented on #157
Fixed by #278

[2021-07-21 20:38] #157 closed

[2021-08-02 14:05] forking-renovate[bot] opened #309 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency @types/node to v14.17.7](

[2021-08-03 14:07] emmekappa opened #311 "GKE resources support"
OpenTelemetry GCP detectors [supports GKE resources](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts) but unfortunately those seems not to be shipped by Cloud Trace Exporter.

[2021-08-06 20:14] aabmass commented on #311
That's correct, the relevant code is here https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/a44657692b456635f131f231bedd5f34f119c21c/packages/opentelemetry-resource-util/src/index.ts#L45 Cloud Trace doesn't actually support resources itself, but we do map to a Cloud Monitoring monitored resource e.g. for k8s [k8s_container](https://cloud.google.com/monitoring/api/resources#ta

[2021-08-10 16:52] aabmass opened #314 "Update to renamed sdk packages"
`@opentelemetry/tracing` and some others were renamed in https://github.com/open-telemetry/opentelemetry-js/pull/2340

- [x] `@opentelemetry/tracing` sites
- [x] `@opentelemetry/node` sites
- [x] Update [example code](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/027392e9b591bd4ce21a2d9c3d7c8b9fece24aaa/samples/trace/index.js#L22)
- [ ] Update the GCP docs https://cloud.g

[2021-08-21 17:19] BlazingAsher opened #317 "Cloud Monitoring Exporter creates invalid MetricDescriptor types on Windows"
### What version of OpenTelemetry are you using?
0.24.0

### What version of Node are you using?
16.4

### What did you do?

Use the usage example at https://www.npmjs.com/package/@google-cloud/opentelemetry-cloud-monitoring-exporter on Windows.

### What did you expect to see?

Metrics would be exported and viewable on the Google Cloud Monitoring UI.

### What did you see instead?

No metrics are

[2021-08-23 19:11] aabmass commented on #317
Thanks for the awesome bug report and root causing this @BlazingAsher. PRs are always welcome if you have the time 😃 just let me know and I can assign this to you, otherwise I will try to fix this in the coming weeks.

[2021-08-23 23:46] BlazingAsher commented on #317
Sure, I can put together a PR in a couple days.

[2021-09-01 16:45] #317 closed

[2021-09-03 13:28] pebo commented on #62
Are there any news on the metrics side of things? I did a quick test run and got errors like:

Checking the [code](https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/39792ced3f8b58d766d7c7861b57aeb2197b9d42/packages/opentelemetry-cloud-monitoring-exporter/src/transform.ts#L130), a label `opentelemetry_task` gets added automatically and the value is set to `'nodejs-' + pid + '@

[2021-09-08 15:20] #271 closed

[2021-09-09 15:47] #311 closed

[2021-09-14 19:03] aabmass commented on #62
Thanks for the report on that @pebo, I was not aware of that, but our plans should fix this. We are not actively working on the metrics exporter right now because the upstream OTel metrics API is going through many breaking changes.

[2021-09-24 15:13] #160 closed

[2021-09-27 14:05] #314 closed

[2021-10-01 17:57] TriPSs opened #337 "Spans not connecting properly to root or not visible at all in Trace dashboard"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v14.15.1

### What did you do?
I enabled tracing in my API that is running on Cloud Run, with the following instructrions
[code]

Only the Fastify requests are visible inside the correct root span but all the mysql spans are not connected t

[2021-10-01 19:42] TriPSs commented on #337
After downgrading everything to the same version as `opentelemetry-cloud-trace-exporter` it worked.

[2021-10-01 19:42] #337 closed

[2021-10-02 04:18] aabmass commented on #337
FYI `@opentelemetry/tracing` was renamed to `@opentelemetry/sdk-trace-base` so you don't need both anymore.

NPM should be complaining that the peer dependencies of `@google-cloud/opentelemetry-cloud-trace-exporter` are not met if the versions are mismatched. Not sure why you weren't getting that. Regardless, with the OTel 1.0 release just made, this should be a problem of the past once I release

[2021-10-16 02:12] parabolala opened #347 "Trace Exporter drops `service.name` resource attribute"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
1.0.0

### What version of Node are you using?
14.17.3

### What did you do?

1. Create OTEL TraceProvider, set its resource name:

       const provider = new NodeTracerProvider({
         resource: new Resource({
           [SemanticResourceAttributes.SERVICE_NAME]: "foo",
         }),

[2021-10-25 20:31] carlitux opened #351 "Monitor: Second pod on google kubernets never reply requests"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
    "@google-cloud/opentelemetry-cloud-monitoring-exporter": "^0.13.0",
    "@opentelemetry/api": "^1.0.3",
    "@opentelemetry/core": "^1.0.0",

### What version of Node are you using?
v12

### What did you do?
If I have only one pod works, but with two the second breaks
this also happe

[2021-10-26 02:21] #351 closed, assigned to nobody

[2021-11-24 08:37] ferencbeutel4711 opened #358 "Incompatible with opentelemetry-js 0.27"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.27

### What version of Node are you using?

16

### What did you do?
If possible, provide a recipe for reproducing the error.

I am creating an observableGauge (former valueObserver). When sending requests to gcp stackdriver, I get a response that the metricKind is unknown.

### What

[2022-01-12 22:22] #347 closed

[2022-01-14 15:38] aabmass opened #364 "Set npm major version in CI"
See how it was done in OpenCensus: https://github.com/census-instrumentation/opencensus-node/blob/1c12e6fda5a9f38e36089066f431f9c47518e94c/.github/workflows/ci.yaml#L13-L22

This is needed because older versions of node come with npm<7. Npm 7 is the first version to use lockfile v2 which we use in this repo: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/8dfc49fc732bf6d9d9

[2022-01-14 16:39] #358 closed

[2022-01-14 20:41] aabmass opened #367 "Cut a release"

[2022-01-19 20:34] #367 closed

[2022-03-07 16:11] CyberHippo opened #378 "Convert OTel resource attributes into trace labels"
*Is your feature request related to a problem?*
As of now, OTel resources attributes are exported to Cloud Trace thanks to https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/361. However, it is still difficult to filter on service name from the Cloud Trace list interface.

*Describe the solution you'd like*
Be able to filter on labels derived from exported OTel attributes from

[2022-03-08 10:08] CyberHippo commented on #378
I was mistaking and Otel resource attributes are already converted into labels. I had a rough time using the Cloud Trace [filter syntax](https://cloud.google.com/trace/docs/trace-filters#filter_syntax). I will close this issue.

[2022-03-08 10:08] #378 closed

[2022-03-09 20:02] mamidon opened #379 "Is the Google Cloud Monitoring Exporter Actually Supported"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/sdk-metrics-base": "0.27.0",
"@google-cloud/opentelemetry-cloud-monitoring-exporter": "^0.14.0",

### What version of Node are you using?
v12.22.7

### What did you do?
If possible, provide a recipe for reproducing the error.
I followed the example at [the readme](https:/

[2022-03-11 18:11] p-goetz opened #381 "Support histogram metrics in @google-cloud/opentelemetry-cloud-monitoring-exporter"
I have tried to use `@google-cloud/opentelemetry-cloud-monitoring-exporter` and create metrics of type histogram with the following code:

    const {MetricExporter} = require("@google-cloud/opentelemetry-cloud-monitoring-exporter");
    const {MeterProvider} = require("@opentelemetry/sdk-metrics-base");
    const exporter = new MetricExporter()
    const meter = new MeterProvider({ exporter, inte

[2022-03-18 14:07] aabmass commented on #379
Thanks for the report. Re the specific error

[code]

it looks like npm is pulling in a different version of `@opentelemetry/core` for `@opentelemetry/sdk-metrics-base` where the types are incompatible which causes TS to fail to compile. Can you share the output of `npm ls` and what version of `npm` you're using? Ideally you would have a single version of `@opentelemetry/sdk-metrics-base` in your

[2022-03-18 14:23] aabmass commented on #381
Cloud Monitoring API supports histogram points as `Distribution` (no Gauge needed). We do plan to implement this, but the OpenTelemetry JS SDK is undergoing a lot of changes right now and hasn't been released in ~4 months with the new changes.

Specifically, the exporter interfaces are changing a lot (e.g. https://github.com/open-telemetry/opentelemetry-js/pull/2829, https://github.com/open-teleme

[2022-03-21 14:50] aabmass commented on #381
The upstream metrics changes haven't been released still so nothing to update there. The trace exporter should work fine with the new versions without a new release (it has carat dependencies). Are you having issues with the trace exporter?

[2022-03-21 16:42] p-goetz commented on #381
Thanks again for the update. I have not yet looked into the opentelemetry update in detail, just read that they had breaking changes. I don't have any issues with tracing and just assumed that the breaking changes might also affect it.
I will wait for the updates you mentioned and will do an update to the latest version of opentelemetry these days. Thanks for your support!

[2022-03-21 16:42] #381 closed

[2022-03-25 20:27] dwashko opened #386 "Could Metrics Exporter prefix option be split into two separate options?"
The MetricExporter accepts a single string for the prefix option. The class is using prefix to define both _metricPrefix and _displayNamePrefix. If prefix is not set the class provides a different value for _metricPrefix than _displayNamePrefix:

https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/main/packages/opentelemetry-cloud-monitoring-exporter/src/monitoring.ts#L52To#L54

[2022-04-15 15:48] dwashko commented on #386
The PR I submitted did not follow the above suggestion as I was worried it would be a breaking change. Instead I left prefix in place and just added the option to set the custom opentelemetry domain.

[2022-04-18 17:10] aabmass commented on #386
Hi @dwashko, apologies for the slow response.

Yes, there are several domains which are supported besides custom (workload.googleapis.com, external.googleapis.com and others). workload will be the new default when I get around to updating this exporter in fact. I know this isn't documented well, apologies for that.

We would definitely like to support display name, but unfortunately the OpenTeleme

[2022-04-18 18:53] dwashko commented on #386
My understanding of how the metrics work is that if you are defining a metric that includes a name for the metric. So the metric already has a custom name.  I do not think the issue is a custom name for the metric which is where OpenTelemetry would come in. but how the metric is displayed on the Monitor UI. How metrics appear in the Monitor UI is set by two variables that unless the prefix option

[2022-04-19 01:23] anchan828 opened #396 "The 'googleapis' library is too large size"
I was using `webpack-bundle-analyzer` to check the included libraries and found that the `googleapis` library contains 16MB.
Since this library is only used by `@google-cloud/opentelemetry-cloud-monitoring-exporter`, could it be replaced by `@google-cloud/monitoring` instead?

![366aaa84926dfa5cee15356ea260430c](https://user-images.githubusercontent.com/694454/163900627-f793981f-e2fa-40b1-880d-806

[2022-04-19 19:17] aabmass commented on #386
I think I see the misunderstanding here. There are a few different things ([docs here](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors#MetricDescriptor)):

- the metric "type", which is `<prefix>/<metric name in OTel>`. This is not necessarily human readable, but uniquely identifies the metric
- the metric display name which you see in the Monitoring UI.
- the "ca

[2022-05-03 01:33] coreyvan commented on #101
Are histograms and distribution metric kinds supported now? I noticed that a fix got merged in as part of #125 but there's still this method that sets the `MetricKind` to `UNSPECIFIED` (which causes GCP to reject the metric descriptor) here: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/60f90dccefe2f903b67c28a61cd78300fae4737a/packages/opentelemetry-cloud-monitoring-expor

[2022-05-03 15:08] nlehrer commented on #101
It does seem from that code that it is still not supported but that it could be easy to complete the support. A new owner needs to be found for this issue since @TigerHe7 is no longer working on this project (neither am I).

[2022-05-16 20:19] SoftMemes opened #404 "Loading of protos at runtime does not place nice with bundlers"
### What version of OpenTelemetry are you using?

1.2.0

### What version of Node are you using?

16

### What did you do?

I'm using the Google trace exporter in a Next.js project as well as with a backend service bundled using esbuild. In both of these cases, the trace exporter fails at runtime when trying to initializer grpc.

[code]

"[mydir]" is part of my project directory structure, but in

[2022-06-19 06:21] jareware commented on #381
Any news about supporting histograms? Would like to start tracking some latencies in our metrics, but it's a bit tedious with just counters and gauges. 😇

[2022-07-08 16:42] legendsjohn commented on #62
@aabmass Any update on this? Looking at documentation here: https://cloud.google.com/trace/docs/setup/nodejs-ot, support seems to be implied? I'm currently having some mixed results getting this to work on Cloud Run.

[2022-07-22 20:11] dkamenov-fitted commented on #379
@aabmass , is there any updates on updates with Google Cloud Monitoring exporter getting some updates/love? Open-telemetry has released many updates, none of which are being reflected over here.

[2022-08-03 16:17] legendsjohn commented on #62
For anyone else having issues with tracing and Cloud Run, there were two primary changes I had to implement for them to be exported properly:

1. Use a `BatchSpanProcessor` with Google's `TraceExporter`, ie:

`provider.addSpanProcessor(new BatchSpanProcessor(new TraceExporter()));`

2. Force all traces to be sampled with an `AlwaysOnSampler`, ie:

[code]

Obviously an `AlwaysOnSampler` might not b

[2022-08-03 16:23] legendsjohn commented on #62
@aabmass `shutdown` in `TraceExporter` doesn't seem to be currently implemented: https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/blob/c64613edcbe56c28e74de0fd932de3bb14a35cce/packages/opentelemetry-cloud-trace-exporter/src/trace.ts#L92

At least, calling `shutdown` solve or change any of my issues with Cloud Run & Cloud Tracing

[2022-08-17 15:40] kjlis commented on #404
Hi! Any update on this? I'm experiencing the same issue.

[2022-09-26 05:42] RaginiDhatric opened #410 "Google Cloud Monitoring Exporter is not working as expected"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
@opentelemetry/sdk-metrics@0.33.0
@opentelemetry/sdk-metrics-base@0.27.0
@opentelemetry/api-metrics@0.33.0
@google-cloud/opentelemetry-cloud-monitoring-exporter@0.14.0

### What version of Node are you using?
v18.8.0

### What did you do?
If possible, provide a recipe for reproducing the

[2022-09-30 21:27] #226 closed

[2022-10-18 15:34] bhr opened #437 "Release an update to fix security vulnerabilities"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
`"@google-cloud/opentelemetry-cloud-trace-exporter@npm:^1.1.0"`

### What version of Node are you using?
v16.16.0

### What did you do?
If possible, provide a recipe for reproducing the error.
The module lists `google-auth-library: ^7.0.0` as a dependency, which links against `node-forge

[2022-10-18 18:36] aabmass commented on #437
@bhr I am not able to reproduce this:

[code]

if you are seeing this issue in your own repo, it may be an old lockfile?

[2022-10-18 18:36] #437 closed

[2022-10-18 19:11] aabmass commented on #410
These packages are intended to be used together. `@opentelemetry/sdk-metrics` is the replacement for the deprecated `@opentelemetry/sdk-metrics-base` package. Unfortunately the Cloud Monitoring exporter is quite out of date so you will have to use it with the old `@opentelemetry/sdk-metrics-base@0.27.0` for the time being. That older version does not have views which you added in your example.

I

[2022-10-18 19:11] #410 closed

[2022-10-18 19:15] aabmass commented on #396
Thanks for opening an issue about this

I think this would be a great enhancement but don't have time to work on it right now.

[2022-10-18 20:23] aabmass commented on #404
Thanks for opening an issue. If anyone would like to give this issue a shot, please leave a comment and I can assign this to you.

[2022-10-18 22:18] bhr commented on #437
Thank you for looking into this @aabmass! Your analysis 100% on point.

After manually deleting the dependency and running `yarn install`, it correctly resolved to

[code]

[2022-10-19 07:57] SoftMemes commented on #404
FWIW, I have ended up manually copying the files into the location that the code expects for production (in a directory relative to my bundled output file), though I consider this a workaround at best and would still love to see this case supported officially.

[2022-10-24 07:38] henrinormak opened #440 "Add support for array attributes"
*Is your feature request related to a problem? Please describe.*
OpenTelemetry Spans support attributes with array values, these attributes are currently not exported to CloudTrace. This is not notified of in any way (at least not that I can identify), which leads to application developers suspecting faults in their use of the library.

*Describe the solution you'd like*
[Code that transforms Span

[2022-10-26 21:48] aabmass commented on #440
Thanks for raising this. The OTel spec actually has [this section](https://github.com/dashpole/opentelemetry-specification/blob/07bfc90007e2eeb89a8104d4474deb6f9f8a1459/specification/common/common.md#:~:text=For%20protocols%20that%20do%20not%20natively%20support%20non%2Dstring%20values%2C%20non%2Dstring%20values%20SHOULD%20be%20represented%20as%20JSON%2Dencoded%20strings.%20For%20example%2C%20the%

[2022-10-26 21:55] aabmass commented on #440
@dashpole any thoughts on if we should do this? We also currently attributes of slice type in our Go exporter as well:

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/36f91511cfd7be17370e23c36ee839a70cdc914d/exporter/trace/trace_proto.go#L314-L338

[2022-10-27 06:39] henrinormak commented on #440
I can definitely open a PR for the JSON approach, my only question would be whether that would look decent on CloudTrace UI or not? I assume, filtering etc. won't work properly? Would it still make sense to open a feature request on the CloudTrace product as an entirety and in the meanwhile at least implement the stringification on the exporter level?

[2022-11-01 15:46] dashpole commented on #440
If we add array attributes as json strings, it probably wouldn't look great.  Also, if string array attributes are ever supported, switching from json strings to the string array would technically be breaking.  If we supported string arrays as json, we could put it behind a config option so that we could add support in the future (for users that don't enable the option).

[2022-11-02 18:11] aabmass commented on #440
@henrinormak would that work for you?

[2022-11-07 08:07] henrinormak commented on #440
Sounds reasonable, I'm not too familiar with the package, but I can try and add this configurability to my PR linked above.

[2022-11-09 19:29] aabmass commented on #153
I think it would be easy to update our documentation here showing how to get the project ID and trace ID. We should also explore linking to integrations with Cloud Logging SDK and OTel Logging SDK which is actively being worked on.

[2022-11-15 17:18] gajus opened #444 "Cannot read properties of undefined getMeterProvider"
### What happened?

Provided setup code.

Based on the documentation available, I expect this code to work, but instead it is throwing an error.

### OpenTelemetry Setup Code

[code]

### package.json

[code]

### Relevant log output

[code]

[2022-11-15 17:41] gajus commented on #444
Seems like the fix is to simply update dependencies

https://github.com/open-telemetry/opentelemetry-js/issues/3412#issuecomment-1315646712

[2022-11-16 19:44] psx95 commented on #152
Currently being worked on

[2022-11-16 19:44] aabmass commented on #103
I think this requirement came from a previous version of our spec that said we should use gRPC. I don't think there is a strong reason to do this right now. We can reopen if REST proves too slow but closing for now.

[2022-11-16 19:44] #103 closed

[2022-11-16 19:48] psx95 commented on #190
Looked at the `shutdown` method - there was nothing to cleanup - shutdown is ok to be a no-op.

[2022-11-16 19:48] #190 closed

[2022-11-16 19:51] psx95 commented on #158
@aabmass doesn't have the capacity to work on it right now, but would be happy to review a PR for this.

[2022-11-17 22:10] aabmass commented on #379
Working on updating things right now since the latest JS release has stable metrics

[2022-11-18 20:24] #440 closed

[2022-11-19 16:08] aabmass commented on #444
@gajus sounds like this is resolved then. Please re-open if there is some action needed in this repo.

[2022-11-19 16:08] #444 closed

[2022-11-19 21:37] #364 closed

[2022-11-20 19:47] gajus commented on #444
@aabmass It is not. This package needs to update dependencies.

[2022-11-21 17:04] #379 closed

[2022-11-21 17:04] #101 closed

[2022-11-21 17:04] #129 closed

[2022-11-21 17:17] gajus commented on #444
@aabmass Can you re-open the issue until dependencies are updated?

[2022-11-22 18:47] sam-throne opened #452 "New release"
Hi there,

Could you please create a new npm release including #446 ? I'm currently blocked from integrating this in our project.

Thanks!
Sam

[2022-11-22 23:09] aabmass commented on #152
Fixed in https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/451

[2022-11-22 23:09] #152 closed

[2022-11-23 19:57] gajus commented on #444
CC @mayurkale22 @shivkanya9146 @TigerHe7

[2022-11-29 16:49] schlenks commented on #444
@aabmass would you re-open this issue since the package has not had it's dependencies updated?

[2022-11-30 05:29] aabmass commented on #386
I updated the behavior a bit in https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/455 to no longer prefix the display name at all. I think that may solve this issue since the display name will now just be the OTel metric name.

Please re-open this issue if this is still a problem for you.

[2022-11-30 15:40] #386 closed

[2022-11-30 15:57] aabmass commented on #444
The dependencies were updated in https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/pull/446

Please hang on for a release https://github.com/GoogleCloudPlatform/opentelemetry-operations-js/issues/452

[2022-11-30 19:23] aabmass commented on #241
I have partially fixed (see #266) this but would be great to comb through this repo and fix everywhere else.

[2022-11-30 23:15] aabmass opened #459 "Add service.* resource attributes to metrics labels"
This prevents writing duplicate timeseries from different processes when they correspond to the same monitored resource. For example, three processes on the same `gce_instance` VM need a label to distinguish them.

We already do this [in the collector exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/v1.8.0/exporter/collector/breaking-changes.md#labels) as we have s